// @font-face {
//     font-family: 'Montserrat-regular';
//     src: url('../../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Montserrat-medium';
//     src: url('../../fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Montserrat-medium';
    src: local('Montserrat-Medium'), url('../../../../public/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
