.footer {
    background-color: $black;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    //position: absolute;
    //width: 100%;
    &__logo {
        margin-bottom: 32px;
    }
}